@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Lato', sans-serif;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	font-family: 'Lato', sans-serif;
}
.bg-white {
	background:#FFFCFC;
}
.bg-gray {
	background:#979797;
}

#header{
	background:#979797;
}
ul.navbar-nav.mr-auto {
	margin-left:125px;
}
.list-unstyled li {
	float:left;
}
.left-side{
	margin-top:135px;
}
h3 {
	font-size:33px;
	line-height:50px;
	font-weight:bolder;
	color:#505050;
	font-family: 'Lato', sans-serif;
	line-height:53px;
}
 span {
	font-size:22px;
	color:#2B2B2B;
	font-family: 'Lato', sans-serif;
	font-weight:100;
	line-height:38px;

}
p{
	font-family: 'Lato', sans-serif;
}
#dialogs-side{
	margin-top:65px;
}
.dialogs-slider{
	margin-top:135px;
}
.shadow{
	box-shadow:0px 5px 13px 0px rgba(170, 170, 170, 0.34)
}
.text-white{
	color:#fff;
}
.contact{
	margin-top:120px;
}
.list-position {
	position: relative;
    margin-top: 50px;
}
.list-text{
	position: relative;
    left: 40px;
    bottom: 217px;
}
.carousel-control-next{
	left:95%;
}
.carousel-control-prev{
	left:-100px !important;
}
.btn:hover{
	background-color:none;
}
.p-bg{
background-color:#f2f2f2;
border-radius:10px;
 }

#why-learnup h3{
	font-weight:normal;
 	font-size:22px;
 }
#why-learnup span {
 	font-size:17px;
 }
 h5{
 	color:#59626d !important;
 	font-size:20px !important;
 }
.h6-style {
	color:#505050 !important;
	font-size:34px !important;
 }
  
 @media screen and (max-width:768px){
	.right-side img{
	   position: relative !important;
	   bottom: 0px !important;
	   width: 98% !important;
   
	}
   
	#create-dialog{
		margin-top: 400px;
	}
	#why-learnup{
		height: 1200px;
		margin-top: 150px;
		
	}
	
}
section {
    overflow-x: hidden;
}
